.mce-tinymce{
  box-shadow:none!important;
}

#kws-container span{
  color:#666;
  font-size:.8em;
  margin-right:10px;
} 
  
#kws-container span:hover{
  cursor:pointer;
  color:#0275d8;
} 

.__sortable-list{
  height:350px;
}

.aanjulena-btn-toggle.btn-lg{
  margin: 12px 3rem!important;
}


